@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local(''),
		url('/public/fonts/proximanova_regular.woff') format('woff'),
		url('/public/fonts/proximanova_regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local(''),
		url('/public/fonts/proximanova_bold.woff') format('woff'),
		url('/public/fonts/proximanova_bold.woff2') format('woff2');
}